
<% layout "happy" %>

<h1>Different Layout Page</h1>

<p>This is another partial page but with a spscial directive to override the default layout template with another</p>

<ul>
	<li>one</li>
	<li>two</li>
	<li>This is a <a href="../index">link</a> to the top page</li>
	<li>This is a <a href="../page">link</a> to the other test page</li>
</ul>
