
<% layout "happy" %>

<h1>Different Layout Page</h1>

<p>This is another partial page but with a special directive to override the default layout template with another which has a different stylesheet and a different header and footer</p>

<ul>
	<li>list item one</li>
	<li>list item two</li>
	<li>This is a <a href="../index">link</a> to the top page</li>
	<li>This is a <a href="../page">link</a> to the other test page</li>
</ul>
