<!DOCTYPE HTML>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title><%= @page.title %></title>
	<%= stylesheet_link_tag 'default' %>
</head>
<body>
	<div id="header">PIP: Page-In-Page Mini CMS</div>
	<%= @page.content %>
	<div id="footer">--- default layout footer (layouts/default.rhtml) goes here ---</div>
</body>
</html>