<!DOCTYPE HTML>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title><%= @page.title %></title>
	<%= stylesheet_link_tag 'default' %>
</head>
<body>
<div id="container">
	<div id="header">
		<div id="title">
			PIP: Picture in Picture CMS
		</div>
		<div id="logo">
			<a href="/"><%= image_link_tag "logo.png" %></a>
		</div>
	</div>
	<!-- end header -->
	<div id="main">
		<%= @page.content %>
	</div>
	<!-- end main -->
	<div style="clear: both;">&nbsp;</div>
	<div id="footer">
		footer here
	</div>
	<!-- end footer -->
	<div style="clear: both; margin: 10px auto; width: 80%; padding: 5px; color: red;">
		<%= @flash %>
	</div>
</div>
</body>
</html>